#divEquiposAsignados th, td{
    border-bottom: solid;
    margin: 0;
}

#divEquiposAsignados td{
    text-align: center;
    padding: 0px;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

.tablaClon tr{
    background: red;
}

#ejercicio4 td, th{
    border: solid !important;
    border-color: blue;
    text-align: center;
}